<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917832453746-l1ke7c8tcdi0j2jfog9vdvghsn48itbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917832453746-l1ke7c8tcdi0j2jfog9vdvghsn48itbi</string>
	<key>API_KEY</key>
	<string>AIzaSyB6qlsLo5nCxTZMBe5wdarqSJ608frDh0g</string>
	<key>GCM_SENDER_ID</key>
	<string>917832453746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ua.testApp3</string>
	<key>PROJECT_ID</key>
	<string>audio-tales</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-tales.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917832453746:ios:1418b2964fe357fa5e7ceb</string>
</dict>
</plist>